<head>
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="styles.css">
</head>

<footer>
    <div class="contactInfoBox">

        <p>Contact Info</p>

        <div class="phoneNumberBox">
            <img src="images/icons/phone.png" alt="">
            <p>07746557322</p>
        </div>

        <div class="emailBox">
            <img src="images/icons/mail.png" alt="">
            <p>RichardsDigital.Info@gmail.com</p>
        </div>

        <div class="socialMediaIcons">
            <img src="images/icons/linkedin2.png" alt="">
            <img src="images/icons/facebook2.png" alt="">
            <img src="images/icons/instagram2.png" alt="">
        </div>

    <p class="copyright">
        © 2020 Richards Digital.
    </p>

    </div>
</footer>
</body>
</html>