<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
    <div class="slider">

<style>
.undernav div {
    grid-column: 6/7;
}
nav ul :nth-child(6) {
    opacity: 100%;
}
nav ul :nth-child(6):hover {
    opacity: 100%;
}
.list :nth-child(4){
    opacity: 100%;
}
</style>

<%- include("partials/footer.ejs") %>
</div>
</div>