<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
    <div class="slider">

<style>
.undernav div {
    grid-column: 5/6;
}
nav ul :nth-child(5) {
    opacity: 100%;
}
nav ul :nth-child(5):hover {
    opacity: 100%;
}
.list :nth-child(3){
    opacity: 100%;
}
</style>

<section class="getting-started">
    <div class="slider-panel2"></div>
    <div class="sectionOne">

        <h3 class="mobile-header-title">Getting Started</h3>

        <div class="getting-started-textbox header-textbox">
            <h2>Getting Started</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                At erat pellentesque adipiscing commodo elit at imperdiet dui. Aliquet lectus proin nibh nisl.
            </p>
        </div>
        <img src="images/Untitled-5.png" alt="">
    </div>

    <div class="sectionTwo">
        <div class="our-process-textbox header-textbox">
            <h2>Our Process</h2>
            <h3 class="mobile-header-title">Our Process</h3>
        </div>

        <div class="sectionTwoContainer">
            <div class="textBoxOne">
                <div class="textBox header-textbox">
                    <h3>Step 1</h3>
                    <h4>Step 1</h4>
                    <img class="mobile-img" src="images/Untitled-6.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                            At erat pellentesque adipiscing commodo elit at imperdiet dui.
                            Dolor sit amet consectetur adipiscing elit pellentesque. 
                            At erat pellentesque adipiscing commodo elit at imperdiet dui.
                        </p>
                </div>
                <img class="desktop-img" src="images/Untitled-6.png" alt="">

                <div class="step-underline"></div>

            </div>

            <div class="textBoxTwo">
                <div class="textBox header-textbox">
                    <h3>Step 2</h3>
                    <h4>Step 2</h4>
                    <img class="mobile-img" src="images/Untitled-7.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                            At erat pellentesque adipiscing commodo elit at imperdiet dui.
                            Dolor sit amet consectetur adipiscing elit pellentesque. 
                            At erat pellentesque adipiscing commodo elit at imperdiet dui.
                        </p>
                </div>
                <img class="desktop-img" src="images/Untitled-7.png" alt="">

                <div class="step-underline"></div>

            </div>

            <div class="textBoxThree">
                <div class="textBox header-textbox">
                    <h3>Step 3</h3>
                    <h4>Step 3</h4>
                    <img class="mobile-img" src="images/Untitled-8.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                            At erat pellentesque adipiscing commodo elit at imperdiet dui.
                            Dolor sit amet consectetur adipiscing elit pellentesque. 
                            At erat pellentesque adipiscing commodo elit at imperdiet dui.
                        </p>
                </div>
                <img class="desktop-img" src="images/Untitled-8.png" alt="">
            </div>
        </div>
    </div>

    <div class="sectionThree">
        <div class="next-steps-textbox header-textbox">
            <h2>Next Steps</h2>

            <h3>Next Steps</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                At erat pellentesque adipiscing commodo elit at imperdiet dui. Aliquet lectus proin nibh nisl.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                At erat pellentesque adipiscing commodo elit at imperdiet dui. Aliquet lectus proin nibh nisl.
            </p>
        </div>

        <div class="next-step-underline"></div> 

        <div class="buttonArea">
            <button onclick="location.href='/contact'">Get Started</button>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>
</div>
</div>