<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
    <div class="slider">

<style>
.undernav div {
    grid-column: 5/6;
}
nav ul :nth-child(4) {
    opacity: 1;
}
nav ul :nth-child(4):hover {
    opacity: 1;
}
.list :nth-child(3){
    opacity: 1;
}
</style>

<section class="getting-started">
    <div class="slider-panel2"></div>
    <div class="sectionOne">

        <h3 class="mobile-header-title">Getting Started</h3>

        <div class="getting-started-textbox header-textbox">
            <h2>Getting Started</h2>
            <p>
                Once you have settled on your idea, we will do the rest. 
                Throughout our basic and friendly process you will have your own website designed, 
                built and hosted without any hassle.
                Our prices vary depending on your request in terms of the size and functionality of your desired website, 
                however we strive to produce the best content within your budget, 
                all of which will be discussed in the early stages before we get started.
            </p>
        </div>
        <img src="images/Untitled-5.png" alt="">
    </div>

    <div class="sectionTwo">
        <div class="our-process-textbox header-textbox">
            <h2>Our Process</h2>
            <h3 class="mobile-header-title">Our Process</h3>
        </div>

        <div class="sectionTwoContainer">
            <div class="textBoxOne">
                <div class="textBox header-textbox">
                    <h3>Step 1</h3>
                    <h4>Step 1</h4>
                    <img class="mobile-img" src="images/Untitled-6.png" alt="">
                        <p id="step1">
                            Once an idea is put into place, 
                            we will design and share with you our custom made templates 
                            that we feel will best suit your business model, 
                            followed by tweaks and changes based on your preference. 
                            Once you are fully satisfied with the design, we can then proceed onto the next step.
                        </p>
                </div>
                <img class="desktop-img" src="images/Untitled-6.png" alt="">

                <!-- <div class="step-underline"></div> -->

            </div>

            <div class="textBoxTwo">
                <div class="textBox header-textbox">
                    <h3>Step 2</h3>
                    <h4>Step 2</h4>
                    <img class="mobile-img" src="images/Untitled-7.png" alt="">
                        <p id="step2">
                            Now that you have a clear vision of what your website will look like, 
                            we can begin building the architecture and software that will operate behind the scenes. 
                            This process will be the making of the UI experience and overall functionality based on your requirements.
                        </p>
                </div>
                <img class="desktop-img" src="images/Untitled-7.png" alt="">

                <!-- <div class="step-underline"></div> -->

            </div>

            <div class="textBoxThree">
                <div class="textBox header-textbox">
                    <h3>Step 3</h3>
                    <h4>Step 3</h4>
                    <img class="mobile-img" src="images/Untitled-8.png" alt="">
                        <p id="step3">
                            We will host your website on our local server so you can explore and 
                            identify possible changes that you might wish to make. 
                            Once you are satisfied with the results, we can then complete the 
                            final stage of hosting your website live for people to view.
                        </p>
                </div>
                <img class="desktop-img" src="images/Untitled-8.png" alt="">
            </div>
        </div>
    </div>

    <div class="sectionThree">
        <div class="next-steps-textbox header-textbox">
            <h2>What Next?</h2>

            <h3>What Next?</h3>
            <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                In pellentesque massa placerat duis. Dolor sit amet consectetur adipiscing elit pellentesque. 
                At erat pellentesque adipiscing commodo elit at imperdiet dui. Aliquet lectus proin nibh nisl.
            </p> -->
            <p>
                If any future changes in your business occur, we are here to help make sure that your website is always up to date, whether it’s content, functionality or styling.<br>
                In the meantime, feel free to follow us on social media at @RichardsDigital to stay updated on our newest content!
            </p>
        </div>

        <div class="next-step-underline"></div> 

        <div class="buttonArea">
            <button onclick="location.href='/contact'">Get Started</button>
        </div>
    </div>
</section>

<script>
         document.addEventListener("DOMContentLoaded", () => {
            var controller = new ScrollMagic.Controller();
    
            var ourScene = new ScrollMagic.Scene({
                triggerElement: '.textBoxOne',
                duration: '57%'
            })
            .setClassToggle('#step1', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '.textBoxTwo',
                duration: '39%'
            })
            .setClassToggle('#step2', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '.textBoxThree',
                duration: '59%'
            })
            .setClassToggle('#step3', 'appear')
            .addTo(controller);
        });
</script>

<%- include("partials/footer.ejs") %>
</div>
</div>