<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
    <div class="slider">

<style>
.undernav div {
    grid-column: 5/6;
}
nav ul :nth-child(5) {
    opacity: 100%;
}
nav ul :nth-child(5):hover {
    opacity: 100%;
}
.list :nth-child(3){
    opacity: 100%;
}
</style>

<section class="getting-started">
    
</section>

<%- include("partials/footer.ejs") %>
</div>
</div>