<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
<div class="slider">

<style>
.undernav div {
    grid-column: 3/4;
}
nav ul :nth-child(2) {
    opacity: 100%;
}
nav ul :nth-child(2):hover {
    opacity: 100%;
}
.list :nth-child(1) {
    opacity: 100%;
}
</style>

<div class="scrollContainer">

    <section class="introduction">
        <div class="slider-panel"></div>
        
        <div class="intro-img">
        <img class="intro-vector"src="images/Untitled-1.png" alt="">
        </div>

    <div class="intro-text">
        <div class="header-textbox intro-textbox1">
            <h2>Need a website for your business?</h2>
            <!-- <p>Wether it’s for a personal brand, a business start-up, 
               or you are simply aiming to turn an idea into reality, 
               your first move is to have your very own website up and running, 
               and we are here to help make that happen. 
               </p> -->
               <p>
               We are fully equipped with the newest industry standard technologies at hand 
               and with use of our creative media design 
               we can assure you that you will be presented with a remarkable website that fully meets your needs 
               and stands out to future clients.
               </p>
        </div>
        <div class="header-textbox intro-textbox2">
            <h2>Feel free to get in touch.</h2>
            <p>Our lines are open all day if you have an idea in mind that you would like to share.
               Don’t hesitate to get in touch. 
               You can send us a brief of your vision, 
               or discuss the online presence you aim to achieve. 
               We will take it from there!</p>
            <button onclick="location.href='/contact'">Request a quote.</button>
        </div>
    </div>
    </section>

<!-- Features section -->

<section class="features">

    <img class="img-1" src="images/Untitled-2.png" alt="">
    <img class="img-2" src="images/Untitled-3.png" alt="">
    <img class="img-3" src="images/Untitled-4.png" alt="">

    <div class="header-textbox features-textbox1">
        <h3>Custom Design.</h3>
        <p id="para1"> 
            We prioritise the visual presence of all the websites that we make 
            and we make use of the best multimedia creative software to achieve this. 
            Having excellent visual presentation is key for not only showing professionalism in your business, 
            but to fully represent what your business is about.
        </p>
    </div>

    <!-- <div class="boxlinespacing1"></div> -->

    <div class="header-textbox features-textbox2">
        <h3>Mobile Optimised.</h3>
        <p id="para2">
            Your website is likely to be viewed on multiple devices such as mobile phones, 
            tablets, laptops and desktop computers. And like many professional responsive websites 
            we will ensure that yours looks remarkable on all devices.
        </p>
    </div>

    <!-- <div class="boxlinespacing2"></div> -->

    <div class="header-textbox features-textbox3">
        <h3>Hosting and Maintenance.</h3>
        <p id="para3">
            We make certain that your website is hosted with the best service provider, 
            enabling proficiency and speed to top your website's overall performance. 
            We will also be working alongside you offering support in terms of maintenance, 
            and making sure that your website is always performing up to standard.
        </p>
    </div>
    
</section>

</div>

<!-- DOMContentLoaded -->
<script>
     document.addEventListener("DOMContentLoaded", () => {
            var controller = new ScrollMagic.Controller();
    
            var ourScene = new ScrollMagic.Scene({
                triggerElement: '.img-1',
                duration: '53.3%'
            })
            .setClassToggle('#para1', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '.img-2',
                duration: '56.6%'
            })
            .setClassToggle('#para2', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '.img-3',
            })
            .setClassToggle('#para3', 'appear')
            // .addIndicators({
            //     name: 'fade scene',
            //     colorTrigger: 'black',
            //     indent: 200,
            //     colorStart: 'blue'
            // })
            .addTo(controller);
        });
</script>

<%- include("partials/footer.ejs") %>

</div>
</div>