<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
<div class="slider">

<style>
.undernav div {
    grid-column: 3/4;
}
nav ul :nth-child(3) {
    opacity: 100%;
}
nav ul :nth-child(3):hover {
    opacity: 100%;
}
.list :nth-child(1) {
    opacity: 100%;
}
</style>

    <section class="introduction">
        <div class="slider-panel"></div>
        
        <div class="intro-img">
        <img class="intro-vector"src="images/Untitled-1.png" alt="">
        </div>

    <div class="intro-text">
        <div class="header-textbox intro-textbox1">
            <h2>Need a website for your bussiness?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Justo eget magna fermentum iaculis eu non. Suspendisse in est ante in.
            Ut eu sem integer vitae justo. Dictum non consectetur a erat nam at lectus urna.</p>
        </div>
        <div class="header-textbox intro-textbox2">
            <h2>Feel free to get in touch.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Justo eget magna fermentum iaculis eu non. Suspendisse in est ante in.
            Ut eu sem integer vitae justo.</p>
            <button>Request a qoute.</button>
        </div>
    </div>
    </section>

<section class="features">
    <img class="img-1" src="images/Untitled-2.png" alt="">
    <img class="img-2" src="images/Untitled-3.png" alt="">
    <img class="img-3" src="images/Untitled-4.png" alt="">

    <div class="header-textbox features-textbox1">
        <h3>Custom Design.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Justo eget magna fermentum iaculis eu non. Suspendisse in est ante in.
           Ut eu sem integer vitae justo.</p>
    </div>

    <div class="boxlinespacing1"></div>

    <div class="header-textbox features-textbox2">
        <h3>Mobile Optimized.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Justo eget magna fermentum iaculis eu non. Suspendisse in est ante in.
           Ut eu sem integer vitae justo.</p>
    </div>

    <div class="boxlinespacing2"></div>

    <div class="header-textbox features-textbox3">
        <h3>Performant.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Justo eget magna fermentum iaculis eu non. Suspendisse in est ante in.
           Ut eu sem integer vitae justo.</p>
    </div>
    
</section>

<%- include("partials/footer.ejs") %>

</div>
</div>