<%- include("partials/header.ejs") %>

<div class="navspace"></div>

<div class="carrier">
    <div class="slider">

<style>
.undernav div {
    grid-column: 4/5;
}
nav ul :nth-child(3) {
    opacity: 1;
}
nav ul :nth-child(3):hover {
    opacity: 1;
}
.list :nth-child(2){
    opacity: 1;
}
</style>

<section class="portfolio">

<h2 class="header" style="padding: 30px;">Portfolio</h2>
<h3 class="mobile-header-title" style="padding: 30px; animation: flowRight 1.2s;">Portfolio</h3>

<div class="portfolioElements">

    <div class="portfolioElementBox" id="pBox1">
        
        <h4 class="mobileTitle">Ivy</h4>
        
        <div class="imageSlider" id="imageSlider1">
            
            <button class="left" name="left" onclick="handleClick(this)">
                <img class="leftArrow" src="images/icons/leftArrow.png" alt="">
            </button>
            
                <div class="imagebox">
                    <img src="images/portfolio-images/clothing/page1.png" alt="">
                </div>
            
            <button class="right" name="right" onclick="handleClick(this)">
                <img class="rightArrow" src="images/icons/rightArrow.png" alt="">
            </button>
            
        </div>  
        <div class="header-textbox portfolio-textbox1">
            <h3 class="title">Ivy</h3>
            <p id="portPara1">This template uses a small range of abstract colours accompanied with vectors 
                that are developed using software such as adobe photoshop and illustrator. 
                It also allows plenty of headroom for fluid animations along with a fun UI experience.</p>
               <!-- <button>Visit Site</button> -->
        </div>
    </div>

    <div class="portfolioElementBox" id="pBox2">

        <h4 class="mobileTitle">Gym Lion</h4>

        <div class="imageSlider" id="imageSlider2">
            
            <button class="left" name="left" onclick="handleClick(this)">
                <img class="leftArrow" src="images/icons/leftArrow.png" alt="">
            </button>
            
                <div class="imagebox">
                    <img src="images/portfolio-images/personal-trainer/page1.png" alt="">
                </div>
            
            <button class="right" name="right" onclick="handleClick(this)">
                <img class="rightArrow" src="images/icons/rightArrow.png" alt="">
            </button>
            
        </div>  
        <div class="header-textbox portfolio-textbox1">
            <h3>Gym Lion</h3>
            <p id="portPara2">Instantly show customers what you stand for and what you can offer. 
                A website that features image based sliders, box-styled package plans and much 
                more can send a clear message straight off the mark.
            </p>
               <!-- <button>Visit Site</button> -->
        </div>
    </div>

    <div class="portfolioElementBox" id="pBox3">

        <h4 class="mobileTitle">Corner Brew</h4>

        <div class="imageSlider" id="imageSlider3">
            
            <button class="left" name="left" onclick="handleClick(this)">
                <img class="leftArrow" src="images/icons/leftArrow.png" alt="">
            </button>
            
                <div class="imagebox">
                    <img src="images/portfolio-images/cafe/page1.png" alt="">
                </div>
            
            <button class="right" name="right" onclick="handleClick(this)">
                <img class="rightArrow" src="images/icons/rightArrow.png" alt="">
            </button>
            
        </div>  
        <div class="header-textbox portfolio-textbox1">
            <h3>Corner Brew</h3>
            <p id="portPara3">Add some personality to your business. 
                A template that offers insight to what your business is about. 
                Also including features that can help customers know where you are based, 
                such as live map integration and more.</p>
               <!-- <button>Visit Site</button> -->
        </div>
    </div>

    <div class="portfolioElementBox" id="pBox4">

        <h4 class="mobileTitle">Bloom Therapy</h4>

        <div class="imageSlider" id="imageSlider4">
            
            <button class="left" name="left" onclick="handleClick(this)">
                <img class="leftArrow" src="images/icons/leftArrow.png" alt="">
            </button>
            
                <div class="imagebox">
                    <img src="images/portfolio-images/massage/page1.png" alt="">
                </div>
            
            <button class="right" name="right" onclick="handleClick(this)">
                <img class="rightArrow" src="images/icons/rightArrow.png" alt="">
            </button>
            
        </div>  
        <div class="header-textbox portfolio-textbox1">
            <h3>Bloom Therapy</h3>
            <p id="portPara4">Taking a softer approach. This template makes use of a light weight design 
                that can gather a wide range of services and present them in an easy and 
                presentable manner. Also supported with features to handle online bookings and more.</p>
               <!-- <button>Visit Site</button> -->
        </div>
    </div>

    </section>
    <script>

        //The clicked button will carry its parent index, aswell as the button name.

        //Then the function will ask for the parent index to find the img index within it.

        //Seperate variable numbers will handle each parent.

        var count1 = 1;
        var count2 = 1;
        var count3 = 1;
        var count4 = 1;
        
        function handleClick(e) {

            //Get parent of clicked button
            var parent = e.parentElement.id;
            //Get image within that parent
            var image = document.getElementById(parent).getElementsByTagName('img')[1];
            //Get arrows
            var arrowRight1 = document.getElementById(parent).getElementsByTagName('img')[2];
            var arrowRight2 = document.getElementById(parent).getElementsByTagName('img')[2];
            var arrowRight3 = document.getElementById(parent).getElementsByTagName('img')[2];
            var arrowRight4 = document.getElementById(parent).getElementsByTagName('img')[2];
            //Create editable file name
            var imageFile = image.src.slice(0, -5);

            var buttonName = e.name;

            //Create seperate counter for each class name (for every image div)

                if (parent === 'imageSlider1') {
                        if (buttonName === 'right') {
                            if (count1 < 3) {
                                count1++;
                                editImageFile(count1);
                            }
                            if (count1 === 3) {
                                arrowRight1.style.opacity = '10%';
                            }
                        }
                        if (buttonName === 'left') {
                            if (count1 > 1) {
                                count1--;
                                editImageFile(count1);
                            }
                            if (count1 < 3) {
                                arrowRight1.style.opacity = '20%';
                            }
                        }
                }

                if (parent === 'imageSlider2') {
                    if (buttonName === 'right') {
                            if (count2 < 3) {
                                count2++;
                                editImageFile(count2);
                            }
                            if (count2 === 3) {
                                arrowRight2.style.opacity = '10%';
                            }
                        }
                        if (buttonName === 'left') {
                            if (count2 > 1) {
                                count2--;
                                editImageFile(count2);
                            }
                            if (count2 < 3) {
                                arrowRight2.style.opacity = '20%';
                            }
                        }
                }

                if (parent === 'imageSlider3') {
                    if (buttonName === 'right') {
                            if (count3 < 4) {
                                count3++;
                                editImageFile(count3);
                            }
                            if (count3 === 4) {
                                arrowRight3.style.opacity = '10%';
                            }
                        }
                        if (buttonName === 'left') {
                            if (count3 > 1) {
                                count3--;
                                editImageFile(count3);
                            }
                            if (count3 < 4) {
                                arrowRight3.style.opacity = '20%';
                            }
                        }
                }

                if (parent === 'imageSlider4') {
                    if (buttonName === 'right') {
                            if (count4 < 3) {
                                count4++;
                                editImageFile(count4);
                            }
                            if (count4 === 3) {
                                arrowRight4.style.opacity = '10%';
                            }
                        }
                        if (buttonName === 'left') {
                            if (count4 > 1) {
                                count4--;
                                editImageFile(count4);
                            }
                            if (count4 < 3) {
                                arrowRight4.style.opacity = '20%';
                            }
                        }
                }

                function editImageFile(count) {
                    var updatedImage = imageFile + count + '.png';
                    image.src = updatedImage;
                }
        }
    </script>
    
    <script>

            document.addEventListener("DOMContentLoaded", () => {
            var controller = new ScrollMagic.Controller();
    
            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox1',
                duration: '35%'
            })
            .setClassToggle('#pBox1', 'fade-in')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox2',
                duration: '35%'
            })
            .setClassToggle('#pBox2', 'fade-in')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox3',
                duration: '35%'
            })
            .setClassToggle('#pBox3', 'fade-in')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox4',
                duration: '35%'
            })
            .setClassToggle('#pBox4', 'fade-in')
            .addTo(controller);

            
            // Mobile


            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox1',
                duration: '68%'
            })
            .setClassToggle('#pBox1', 'fade-in-mobile')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox2',
                duration: '68%'
            })
            .setClassToggle('#pBox2', 'fade-in-mobile')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox3',
                duration: '68%'
            })
            .setClassToggle('#pBox3', 'fade-in-mobile')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox4',
                duration: '68%'
            })
            .setClassToggle('#pBox4', 'fade-in-mobile')
            .addTo(controller);

            //Text appear

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox1',
                duration: '68%'
            })
            .setClassToggle('#portPara1', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox2',
                duration: '68%'
            })
            .setClassToggle('#portPara2', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox3',
                duration: '68%'
            })
            .setClassToggle('#portPara3', 'appear')
            .addTo(controller);

            var ourScene = new ScrollMagic.Scene({
                triggerElement: '#pBox4',
                duration: '68%'
            })
            .setClassToggle('#portPara4', 'appear')
            .addTo(controller);
        });
    </script>

</div>

</section>

<%- include("partials/footer.ejs") %>
</div>
</div>